{% load i18n %}
<div
  class="boxes-nodes
  {% if nodes|length >= 100 %}
    boxes-nodes-small
  {% elif nodes|length >= 25 %}
    boxes-nodes-medium
  {% endif %}
  {{ classes }}"
>
{% for node in nodes %}{% spaceless %}
<div
  class="boxes-node boxes-role-{{ node.role_slug }}"
  data-toggle="popover"
  title="{{ node.node_title }}"
  data-content="<dl>
    <dt>{% trans "Node UUID" %}</dt>
    <dd>{{ node.uuid }}</dd>
    <dt>{% trans "Architecture" %}</dt>
    <dd>{{ node.cpu_arch }}</dd>
    <dt>{% trans "CPUs" %}</dt>
    <dd>{{ node.cpus }}</dt>
    <dt>{% trans "RAM (MB)" %}</dt>
    <dd>{{ node.memory_mb }}</dd>
    <dt>{% trans "HDD (GB)" %}</dt>
    <dd>{{ node.local_gb }}</dd>
  </dl>"
  ><i class="fa fa-lg {{ node.state_icon }}"></i></div>
{% endspaceless %}{% endfor %}
</div>
