{% load i18n %}
{% load url from future %}
{% load form_helpers %}

<h4>{% trans "Available Deployment Roles" %}</h4>
<form method="POST" action="." class="deployment-roles-form">
{% csrf_token %}

<div class="boxes-available-roles">
{% for role in free_roles %}{% spaceless %}
    <div class="boxes-role-{{ role.name|slugify }} boxes-role" data-name="{{ role.name|slugify }}">
        {{ role.field|add_bootstrap_class }}
        {{ role.flavor_field|add_bootstrap_class }}
        {{ role.name|title }}
      <a
        name="role-edit-{{role.name|slugify}}"
        href="{% url 'horizon:infrastructure:roles:update' role_id=role.id %}"
        class="btn pull-right hidden">
        <b class="fa fa-lg fa-fw fa-pencil"></b>
      </a>

    </div>
{% endspaceless %}{% endfor %}
</div>

<h4>{% trans "Available Flavors" %}</h4>
{% for flavor in flavors %}
<div class="boxes-flavor" data-flavor="{{ flavor.name }}">
  <div class="row">
    <div class="col-md-9">
      <strong>{% trans "Flavor:" %}</strong>
      <i>{{ flavor.name }}</i>
      {{ flavor.cpu_arch }},
      {{ flavor.vcpus }} CPU,
      {{ flavor.ram }}MB RAM,
      {{ flavor.disk }}GB Disk
    </div>
    <div class="col-md-3">
      <span class="pull-right">
        {% trans "Free Nodes:" %}
        <span class="free-nodes"></span> / {{ flavor.nodes|length }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="separator-line"></div>
    </div>
  </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="boxes-drop-roles">
            {% for role in flavor.roles %}{% spaceless %}
                <div class="boxes-role-{{ role.name|slugify }} boxes-role" data-name="{{ role.name|slugify }}">
                    {{ role.field|add_bootstrap_class }}
                    {{ role.flavor_field|add_bootstrap_class }}
                    {{ role.name|title }}
                  <a
                    name="role-edit-{{role.name|slugify}}"
                    href="{% url 'horizon:infrastructure:roles:update' role_id=role.id %}"
                    class="btn pull-right">
                    <b class="fa fa-lg fa-fw fa-pencil"></b>
                  </a>
                </div>
            {% endspaceless %}{% endfor %}
            </div>
            <div class="btn-group boxes-drop-group">
              <div class="boxes-drop" data-toggle="dropdown">
                  <div><i class="fa fa-plus"></i><br>
                    {% trans "enroll a deployment role" %}</div>
              </div>
              <ul class="boxes-roles-menu dropdown-menu" role="menu">
                {% for role in roles %}
                <li>
                  <a href="#" data-role="{{ role.name }}"
                    >{{ role.name|title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>
        <div class="col-xs-7 boxes-nodes">
            {% for node in flavor.nodes %}{% spaceless %}
            {% include "tuskar_boxes/overview/_node_info.html" with node=node %}
            {% endspaceless %}{% endfor %}
        </div>
    </div>
</div>
{% endfor %}


<hr>
<button type="submit" class="btn btn-default">
  <i class="fa fa-save"></i>
  {% trans "Save changes" %}
</button>
</form>
